<div id="blog_content">
	<h1 class="title">
		<%= @blog.title %>
	</h1>
	<p><%= render_shareable %></p>
	<p class="date">
		Submitted <%= time_ago_in_words(@blog.created_at) %> Ago
    <% if @blog.category_id? %>|<%= link_to Category.find(@blog.category_id).name, blogs_path(category: @blog.category.name) %> <% end %>
	|<%= link_to 'Edit', edit_blog_path(@blog) %> |
		  <%= link_to 'Delete', blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' } %>

	</p>
	<p><%= image_tag @blog.image.url(:large) %></p>
	<p>
		<%= @blog.body.html_safe %>
	</p>
	<p><%= render_shareable %></p>
	<h3>Comments</h3>

	<%= form_for [@blog, Comment.new] do |f| %>
	<%= f.text_area :body, placeholder: "Add a comment" %><br/>
	<%= f.submit "Add Comment" %>
	<% end %>

	<ul>
	  <%= render(partial: 'comments/comment', collection: @blog.comments) %>
	</ul>

</div>
