<%= simple_form_for(@dictionary) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :term %>
    <%= f.input :tittle %>
      <%= f.input :definition, as: :summernote, input_html: { id: 'body' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
